<form method="post" action="/requests/<%= @shirt.id %>/confirm">
  <div class="section index-banner">
    <div class="container">
      <div class="row">
        <div class="col s8">
          <h1 class="header">TShirt Request</h1>
        </div>

        <div class="col s4 valign-wrapper">
          <button class="btn-large waves-effect waves-dark blue-text white btn-loading valign" name="action">TShirt Go!
            <i class="mdi-content-send right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="section row">
          <%== errors_for(@shirt) %>

          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="name" value="<%= @shirt.name %>" required>
              <label>Full name</label>
            </div>

            <div class="select-field col s6">
              <label class="active">T-shirt size</label>

              <div class="select-wrapper">
                <select name="size" class="validate browser-default">
                  <option value="small" <%= selected(@shirt.size == 'small') %>>Small</option>
                  <option value="medium" <%= selected(@shirt.size == 'medium') %>>Medium</option>
                  <option value="large" <%= selected(@shirt.size == 'large') %>>Large</option>
                </select>
              </div>
            </div>

            <div class="input-field col s6">
              <input type="text" name="street_one" value="<%= @shirt.street_one %>" required>
              <label>Address line one</label>
            </div>

            <div class="input-field col s6">
              <input type="text" name="street_two" value="<%= @shirt.street_two %>" >
              <label>Address line two</label>
            </div>

            <div class="input-field col s6">
              <input type="text" name="city" value="<%= @shirt.city %>" required>
              <label>City</label>
            </div>

            <div class="input-field col s6">
              <input type="text" name="zip"  value="<%= @shirt.zip %>" required>
              <label>Zip</label>
            </div>

            <div class="select-field col s6">
              <label class="active">State</label>

              <div class="select-wrapper">
                <select name="state" required class="validate browser-default">
                  <% states.each do |abbr, name| %>
                    <option value="<%= abbr %>" <%= selected(@shirt.state == abbr) %>><%= name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
